@charset "utf-8";
/* CSS Document */
body{
    font-family:"宋体";
    font-size:14px;
}
a{
    color:#000;
    text-decoration:none;
}

a:hover{color:#F00; text-decoration:underline;}
p{
    line-height:28px;
    text-indent:2em;
    letter-spacing:2px;
}
